.centrado{
    margin: auto;
    margin-top: 10px;
    width: 935px;
}

.colPrim{
    width: 150px;
}
.colSeg{
    width: 150px;
}
.colTer{
    width: 150px;
}
.colCuar{
    width: 150px;
}
.colQuin{
    width: 150px;
}
.colSex{
    width: 150px;
}

td:nth-child(1){
    width: 150px;
}
td:nth-child(2){
    width: 150px;
}
td:nth-child(3){
    width: 150px;
}
td:nth-child(4){
    width: 150px;
}
td:nth-child(5){
    width: 150px;
}
td:nth-child(6){
    width: 150px;
}