table, table th, table td{
    border: 1px solid black;
    border-collapse: collapse;
}

.table td{
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.active td{
    background-color: #e6ed94;

}

.cursor-pointer{
    cursor: pointer;
}

.table{
    margin: 0;
}
.table.scrollable-table{
    width: auto;
}
/* table thead{
    display: block;
}
table tbody{
    display: block;
    overflow-y: scroll;
}
.scrollable-body{
    max-height: 100px;
    min-height: 100px;
}
.scrollable-body.scrollable-always{
    overflow-y: scroll;
} */
.scrollable-body{
    overflow-y: scroll;
}
.scroll{
    padding-left: 8px;
    padding-right: 8px;
}